@tailwind components;
@tailwind utilities;

:root {
  --brand-navy: 196 66% 13%;
  --brand-off-white: 36 38% 95%;
  --brand-tan: 25 27% 73%;
  --brand-blue: 195 23% 73%;
  --brand-brown: 23 14% 44%;
  --brand-green: 69 19% 47%;
  --brand-gray-00: 240 5% 96%;
  --brand-gray-01: 0 0% 87%;
  --brand-gray-02: 0 0% 75%;
  --brand-gray-03: 0 0% 58%;
  --brand-gray-04: 0 0% 46%;
  --brand-gray-06: 0 0% 16%;
  --tw-ring-inset: 0px;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}

[data-theme='dark'] {
  --border: 240 4% 16%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

.table {
  width: 100%;
}
