.mapboxgl-popup-content {
  padding: 0;
  background-color: transparent;
  border-radius: 0.5rem;
  min-width: 15rem;
}
.mapboxgl-popup-close-button {
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.125rem;
  color: #ffffff;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 0;
  border-radius: 0;
}
